@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Modified icons */
.fa-spinner {
    animation: spin-animation 1.4s infinite linear;
}

.fa-calculator.enabled {
    color: #00A651;
}

.fa-star-o:hover::before {
    content: '\f005';
}

.fa.status.fail {
    color: red;
}
