/* Generic elements */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.1em;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px;
}

small {
    font-size: 85%;
}

/* Overlay */
#overlay {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* App layout */
header {
    overflow: hidden;
    height: 40px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

header > * {
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-self: center;
    margin: 0;
    font-size: 20px;
}

header .menu-toggle {
    font-size: 25px;
    padding: 0;
    margin: 0 15px;
    background-color: transparent;
    border: 0;
}

header .section-title {
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
}

header .disable-demo-mode {
    margin-right: 2ex;
}

header .settings-dropdown {
    margin-right: 2ex;
}

main {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: row;
}

main > * {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

main nav {
    z-index: 0;
    padding: 0;
    width: 320px;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.25s ease-in-out;
}

/*
 * If we're not using the fluid layout, and the width is such that we can put
 * the menu on top of the content without overlap, put the menu on top of the
 * content. Keep in sync with the media query doing the same thing on small
 * widths.
 */
@media (min-width: calc(320px + 100ch)) {
    body:not(.fluid) main {
        position: relative;
    }

    body:not(.fluid) main nav {
        position: absolute;
        z-index: 899;
    }
}

main nav.menu-hidden {
    margin-left: -320px;
    padding-left: 0;
    padding-right: 0;
}

main nav > * {
    width: 320px;
}

main nav ul {
    margin: 0;
    padding: 0;
}

main nav > :first-child {
    /* Same as the #content-container top padding */
    margin-top: 1em;
}

main nav > :last-child {
    margin-bottom: 0;
}

main nav span.amount {
    white-space: nowrap;
}

main nav .bank-total-accesses {
    font-size: 1.15em;
    font-weight: 600;
    padding-right: 1ex;
}

/* Sidebar list of sections (operations, settings, etc.) */

/* Ensure the about/version number of Kresus is at the bottom. */
main nav > :nth-last-child(2) {
    flex: auto;
}

#content-container {
    flex: auto;
    overflow: auto;
}

#content {
    min-height: 100%;
    padding: 1em;
    margin: auto;
    min-width: 600px;
    max-width: min(100%, 100ch);
}

body.fluid #content {
    min-width: 600px;
    max-width: 1600px;
}

#content > .loading-message {
    display: block;
    text-align: center;
}

#content > h3 {
    margin-top: 0;
}

@media (max-width: 620px) {
    /*
     * Put the nav menu on top of content, be it in fluid layout or not.
     * Keep this in sync with the rule doing the same on body:not(.fluid).
     */
    main {
        position: relative;
    }

    main nav {
        position: absolute;
        z-index: 899;
    }

    main nav > :first-child {
        /* Same as the #content top padding */
        margin-top: 7px;
    }

    #content {
        min-width: 100%;
        width: 100%;
        overflow-x: hidden;
        padding: 7px;
    }

    body.fluid #content,
    #content {
        min-width: 100%;
    }
}

#content ul li {
    list-style: none;
}

#content ul.bullet li {
    list-style: disc inside;
}

span.file-input {
    max-width: 100vw;
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

span.file-input input[type='file'] {
    position: fixed;
    top: -9999px;
    left: -9999px;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 1px;
    background-color: #C4C4C4;
    border: 0;
}
