/**
 * Below are the colors defined for both the wells and the "differences" section
 * of the charts. If you write a theme, please use (you might redefine them)
 * these variables instead of hardcoded colors in order to keep the link between
 * the wells and the "differences" charts.
 */
:root {
    --main-font-color: black;
    --popover-background-color: white;
    --popover-border-color: white;
    --popover-shadow-color: grey;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

html,
body,
#app {
    min-height: 100%;
}

#app {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#app > div {
    height: 100%;
}
