table.bank-accounts-list {
    table-layout: fixed;
}

table.bank-accounts-list td {
    vertical-align: middle;
}

table.bank-accounts-list td.account-label {
    /* Due to the absolute position of the label-component-container, the middle vertical alignment
    won't work as expected */
    vertical-align: top !important;
}

table.bank-accounts-list td.actions {
    /* 3 x 1em (font size) + 2 x 1em (margin between buttons) + 2 x 10px padding */
    width: calc(5em + 20px);
    font-size: 1em;
    text-align: right;
}

table.bank-accounts-list td.actions > button:not(:first-child) {
    margin-left: 1em;
}

@media screen and (max-width: 768px) {
    table.bank-accounts-list td.iban {
        display: none;
    }
}

table.bank-accounts-list .enabled-status {
    margin-right: 0.5em;
}

.bank-accesses-section .top-toolbar {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .bank-accesses-section .top-toolbar {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .bank-accesses-section .top-toolbar > a {
        width: 100%;
    }
}
